button {
    /* gtk buttons have background image by default */
    background-image: none;
}

/* makes it more obvious which option is selected */
button:focus {
    box-shadow: inset 0 0 0 2px blue;
}

button:disabled {
    border: 0;
}
